main > table {
  text-align: center;
}

#search {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  box-sizing: border-box;
}

#searchText {
  flex-grow: 1;
  margin-left: 12px;

  padding: 8px 20px 8px 30px;
  border: 1px solid #ddd;
  box-sizing: border-box;

  background-image: url("/img/searchicon.png");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 15px;
}

#collumn {
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.cap {
  background-color: rgba(146, 146, 146, 0.192);
}
