<header>
    <a href="/">
        <img src="/img/logo.png" alt="Alternate Text" />
    </a>
    <ul class="mainMenu topmenu">
        <li>
            <a>Заявки</a>
            <ul class="submenu">
                <li>
                    <a href="/applications/add">Внести заявку</a>
                    <a href="/applications/view">Просмотр заявок</a>
                </li>
            </ul>
        </li>
    </ul>
</header>