<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Главная</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/img/favicon-16x16.png" type="image/png" sizes="16x16">
</head>

<body>
    {{>header}}
    <main>
    </main>
</body>

</html>