<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Создание заявки</title>
    <link rel="stylesheet" href="/css/applications/add.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="shortcut icon" href="/img/favicon-16x16.png" type="image/png" sizes="16x16">

    <script src="/js/date.format.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.autocomplete.js"></script>
    <script src="/js/applications/add.js"></script>
</head>

<body>
    {{>header}}
    <main>
        <form method="post" id="addApplication" enctype="multipart/form-data" onsubmit="addApplication(this); return false;">
            <div class="form multiline">
                <div>
                    <p>№ заявки</p>
                    <input type="text" name="applicationNo" required/>
                </div>
                <div>
                    <p>Состояние</p>
                    <select name="condition">
                        <option selected value="На рассмотрение">На рассмотрение</option>
                        <option value="В работе">В работе</option>
                        <option value="Выполнено">Выполнено</option>
                        <option value="Отклонено">Отклонено</option>
                    </select>
                </div>
                <div>
                    <p>Примечание</p>
                    <textarea name="note" id=""></textarea>
                </div>
            </div>
            <div class="form multiline">
                <p>От кого:</p>
                <div>
                    <p>ФИО</p>
                    <input class="FIO" type="text" name="fromWhomFIO" id="fromWhom" />
                </div>
                <div>
                    <p>Подразделение</p>
                    <input class="long" type="text" name="subdivision" id="fromWhomPosition" />
                </div>
            </div>
            {{!
            <div class="form">
                <p>Примечание</p>
                <textarea name="note" cols="2"></textarea>
            </div> }}
            <div class="form multiline">
                <p>Для кого:</p>
                <div>
                    <p>ФИО</p>
                    <input class="FIO" type="text" name="forWhomFIO" id="forWhom" />
                </div>
                <div>
                    <p>Должность</p>
                    <input class="long" type="text" name="position" id="forWhomPosition" />
                </div>
                <div>
                    <p>Помещение</p>
                    <input class="long" type="text" name="room" />
                </div>
            </div>
            <div class="form">
                <p>Дата отправления</p>
                <input type="date" name="departureDate">
                <p>Дата регистрации</p>
                <input type="date" name="dateOfRegistration" id="nowDate" :value=nowDate()>
            </div>
            <div class="form">
                <p>Скан заявки</p>
                <input type="file" name="scanApplication" accept="application/pdf">
            </div>
            <div>
                <input type="submit" value="Сохранить">
            </div>
        </form>
    </main>

    <div id="openModal" class="modalDialog">
        <div>
            <a href="#close" title="Закрыть" class="close">X</a>
            <p id="info"></p>
        </div>
    </div>
</body>

</html>