header > div {
    display:flex;
    justify-content:center;
    text-align:center;
}

header a {
    background: url(../image/github.svg) no-repeat center top;
    width: 1.8em;
    height: 1.8em;
    align-self: flex-end;
    cursor: pointer;
    margin: 0 5px;
}

/** ===========================
 *  media
 *  ===========================
*/

@media (max-width: 425px) {
    /*header > div {
        flex-direction:column;
    }*/
    header > div {
        flex-wrap: wrap;
    }
}