/** ===========================
 *  шаблоны
 *  ===========================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-margins {
    width: 1140px;
    margin: 100px auto;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/** ===========================
 *  main
 *  ===========================
*/



/** ===========================
 *  media
 *  ===========================
*/