/** ===========================
 *  шаблоны
 *  ===========================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-margins {
    width: 1140px;
    margin: 100px auto;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/** ===========================
 *  main
 *  ===========================
*/

.lesson {
    list-style-position: inside;
}

.lesson1 ul, .lesson2 ul, .lesson3 ul, .lesson4 ul {
    margin: 0 25px;
}

/** ===========================
 *  модальное окно
 *  ===========================
*/

.modalDialogLesson4 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.43);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialogLesson4:target {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

.modalDialogLesson4 > div {
    width: 200px;
    height: 200px;
    position: relative;
    padding: 25px;
    border-radius: 10px;
    background: #e2e2e2;
}

.close {
    background: rgba(0, 0, 0, 0.47);
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: rgba(0, 0, 0, 0.80);
}

.playingField > div {
    display: flex;
    flex-direction: row;
}

.playingField > div > div {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** ===========================
 *  media
 *  ===========================
*/
@media (max-width: 1440px) {
    .div-margins {
        width: 79.17%;
        margin: 100px auto;
    }
}

@media (max-width: 425px) {
    .div-margins {
        width: 100%;
        margin: 100px 44.266px;
    }
}