/** ===========================
 *  шаблоны
 *  ===========================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-margins {
    width: 1140px;
    margin: 100px auto;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/** ===========================
 *  main
 *  ===========================
*/

.lesson {
    list-style-position: inside;
}

.lesson1 ul, .lesson2 ul {
    margin: 0 25px;
}

/** ===========================
 *  media
 *  ===========================
*/

@media (max-width: 1440px) {
    .div-margins {
        width: 79.17%;
        margin: 100px auto;
    }
}

@media (max-width: 425px) {
    .div-margins {
        width: 100%;
        margin: 100px 44.266px;
    }
}