body
{
}

p{
    color:darkseagreen;
}

.first {
    background: url(../image/slide_03.jpg);
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position:center center;
}